* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.pagina{
    background-image: url('https://i.postimg.cc/nzv1fnzX/lance-asper-Ny0-C6-Iwou40-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 98.8vh;
    width: 98.8vw;
    background-position: center;
}


.primeiraSecao,
.quintaSecao {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#tituloInicial {
    position: absolute;
    font-family: Impact;
    font-size: 55px;
    top: 337px;
    left: 240px;
    color: #f8efed;
}

.segundaSecao {
    background-color: #e2e2e2;
    column-count: 2;
    padding-top: 100px;
    width: 100%;
    height: 700px;
}

#minhaFoto {
    position: relative;
    left: 140px;
    height: 250px;
    border-radius: 1000%;
}

.conteudo {
    width: 80%;
    color: #00278b;
}

.tituloTexto2 {
    font-family: Helvetica;
    font-size: 27px;
    padding-left: 50px;
    padding-bottom: 15px;
}

#miniTexto {
    font-family: Verdana;
    font-size: 19px;
    padding-left: 50px;
    line-height: 1.7em;
}

.terceiraSecao {
    background-color: #00278b;
    padding-top: 100px;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container2 {
    column-width: 250px;
    column-gap: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    break-inside: avoid;
    page-break-inside: avoid;
    margin-block-start: 120px;
}

.card {
    break-inside: avoid;
    page-break-inside: avoid;
    border: 3px solid white;
    padding: -10px;
    background-color: rgba(0, 0, 255, 0);
    margin-block-end: 30px;
    color: white;
}

#tituloSecao4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.quartaSecao {
    width: 100%;
    height: 50px;
    background: red;
        background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
        background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
        background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    
}

.sei {
    position: absolute;
    font-size: 22px;
    color: white;
}